<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPi Server</title>
</head>
<body>
    <h1>Enter pin number</h1>
    <form action="/pin" method="post">
        <div>
            <label for="number">pin number</label>
            <input type="pin number" id="test" name="test" required>
        </div>
        <button type="submit">Control!</button>
    </form>
</body>
</html>